.content-info-wrapper {
  display: flex;
  width: 100%;

  @include mobileMax {
    flex-direction: column;
    justify-content: center;
  }
}

.content-poster-wrapper {
  min-height: 500px;
  margin: 0;
  position: relative;

  @include mobileMax {
    height: 265px;
  }
}

.content-poster {
  position: sticky;
  top: 50px;
  width: 178px;
  height: 265px;
  margin-right: 10px;
}

.content-section-wrapper {
  margin: 10px 0;
}

.content-title {
  text-align: center;
}

.content-data-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-info-row {
  display: flex;
}

.content-info-key {
  font-weight: bold;
  min-width: 200px;
}

.content-info-data {

}

.actors-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include mobileMax {
    flex-direction: column;
  }
}

.actor-wrapper {
  display: flex;
  width: clamp(200px, 100%, 300px);
  padding: 5px;
}

.actor-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.actor-data {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.show-movie-button {
  margin: 20px 0 20px auto;
  padding: 10px 30px;
  background-color: $colorGreen;
  border: 0;
  border-radius: 10px;
  cursor: pointer;

  @include themify {
    color: themed($colorMainContrast);
  }
}

.buy-movie-button {
  margin: 20px 0 20px auto;
  padding: 10px 30px;
  background-color: $colorOrange;
  border: 0;
  border-radius: 10px;
  cursor: pointer;

  @include themify {
    color: themed($colorMainContrast);
  }
}

.info-box {

}

.plans-wrapper {
  display: flex;
  flex-direction: column;
}

.plan-row {
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 3px 0;
  display: flex;

  @include themify {
    background-color: rgba(themed($colorMainContrast), 0.3);
  }

  p {
    margin: auto 0;
  }
}

.buy-button {
  margin-left: auto;
  height: 30px;
  background-color: $colorGreen;
  border: 0;
  border-radius: 3px;
  color: $colorWhite;
  cursor: pointer;
  padding: 3px 10px;

  &:hover {
    background-color: $colorBrightBlue;
  }
}

.buy-panel-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  p {
    margin: auto 0;
    padding: 3px 10px;
  }
}