.single-season-wrapper,
.single-episode-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 3px 0;
  border-radius: 3px;
  cursor: pointer;
  @include themify {
    color: themed($colorMain);
    border: 1px solid rgba(themed($colorMainContrast), 0.25);
  }

  &:hover {
    @include themify {
      background-color: rgba(themed($colorMainContrastDarker), 0.5);
    }
  }
}

.images-wrapper {
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
  padding: 0 25px;
}

.gallery-image-wrapper {
  width: clamp(300px, 100%, 700px);
  height: clamp(171px, 100%, 400px);

  img {
    width: 100%;
    height: 100%;
  }
}