* {
  text-decoration: none;
  transition: background-color 0.25s, border-color 0.25s, opacity 0.25s, box-shadow 0.25s;
  outline: none;
  font-family: PoppinsLight, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

#__next {
  min-height: 100vh;

  @include themify {
    background-color: themed('colorMain');
    color: themed('colorMainContrast');
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  text-indent: 5px;

  @include themify {
    border-bottom: 1px solid themed($colorMain);
  }

  &.no-border {
    border: 0;
  }
}

div.error {
  color: $colorRed;
  width: 100%;
  min-height: 100px;
  box-shadow: inset 0 0 7px 1px rgba($colorRed, $halfOpacity);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 10px;
}

main {
  width: clamp(300px, 100%, 1200px);
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;

  @include themify {
    background-color: rgba(themed('colorMainContrast'), 0.5);
    color: themed('colorMain');
  }
}

footer {
  width: clamp(300px, 100%, 1200px);
  margin: 0 auto;
  padding: 10px;
  font-size: 10px;
  text-align: justify;
  box-sizing: border-box;

  @include themify {
    background-color: rgba(themed('colorMain'), 0.5);
    color: themed('colorMainContrast');
  }
}