@font-face {
  font-family: "PoppinsLight";
  src: local("../fonts/poppins-light.ttf");
}

@font-face {
  font-family: "Poppins";
  src: local("../fonts/poppins-regular.ttf");
}

@font-face {
  font-family: "Pompiere";
  src: local("../fonts/Pompiere.otf");
}

@mixin fontPompiere {
  font-family: Pompiere;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 300;
}
