.poster-wrapper {
  height: 254px;
  width: 178px;
  margin: 10px 10px 10px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include themify {
    box-shadow: inset 0 0 3px 1px themed($colorMain);
    transition: background-size 0.25s ease-in-out;

    &:hover {
      box-shadow: inset 0 0 30px 1px rgba(themed($colorMain), .5);
    }
  }
}

.poster-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 178px;
  height: 254px;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster-image {
  transition: transform 0.25s ease-in-out;

  .poster-wrapper:hover & {
    transform: scale(1.1);
    filter: blur(2px);
  }
}

.poster-pin {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(10deg);
  padding: 3px 8px;
  border-radius: 5px;
  opacity: 0.5;

  .poster-wrapper:hover & {
    opacity: 1;
  }
}

.hidden-text {
  opacity: 0;

  .poster-wrapper:hover & {
    opacity: 1;
  }
}