.slider-wrapper {
  margin-top: 40px;
  cursor: pointer;

  @include mobileMax {
    margin-top: 0;
  }
}

.slide-wrapper {
  width: 100vw;
  height: 37.5vw;

  @include mobileMax {
    width: 100vw;
    height: 56.25vw;
  }

  img {
    width: 100%;
    height: auto;
  }
}